pkgbase = zotero-beta
	pkgdesc = Zotero is a free, easy-to-use tool to help you collect, organize, cite, and share research.
	pkgver = 6.0-beta.13+7182531ec
	pkgrel = 1
	url = https://www.zotero.org/support/dev_builds
	arch = x86_64
	arch = i686
	license = AGPL3
	depends = aarch64-linux-gnu-gcc
	depends = atk
	depends = cairo
	depends = dbus
	depends = dbus-glib
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnupg
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrender
	depends = libxt
	depends = nss
	provides = zotero
	conflicts = zotero
	source = zotero-absolute-path-fix.patch
	source = zotero-disable-update.patch
	sha256sums = 7b23d5238430701c1f5cc6f81dfd9b9f67cc643d506e42aa0e62aba5a58191fa
	sha256sums = 94211568bbd206d10f1c1e0a2565905fcd27c8586835b7aef6458e657caa8213
	source_x86_64 = Zotero-6.0-beta.13+7182531ec_linux-x86_64.tar.bz2::https://download.zotero.org/client/beta/6.0-beta.1%2B8c846468f/Zotero-6.0-beta.1%2B8c846468f_linux-x86_64.tar.bz2
	sha256sums_x86_64 = b5910918ca799887adbcde6bd4384576ed34ae8653939cdaa151e4954a2c740b
	source_i686 = Zotero-6.0-beta.13+7182531ec_linux-x86_64.tar.bz2::https://download.zotero.org/client/beta/6.0-beta.1%2B8c846468f/Zotero-6.0-beta.1%2B8c846468f_linux-x86_64.tar.bz2
	sha256sums_i686 = 8c9aa1c034ac22d58690411e9d242e530a01ebc2660598821802ceb1758b2b11

pkgname = zotero-beta
